@use 'variables';

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Montserrat';
    background-color: variables.$bgc-color;
    color: variables.$bgc-color;
    font-variant: small-caps;
}