@use 'variables';
@use 'mixin';

button {
    height: 60px;
    width: 200px;
    font-size: 17px;
    font-weight: bold;
    @include mixin.fonts;
    background: linear-gradient(#FFFAF0 5%, #959187 100%);
    box-shadow: 12px 9px 20px -9px variables.$shadow-color;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
        background: linear-gradient(variables.$bgc-color 5%, rgb(136, 130, 119) 100%);
    }

    &:active {
        position: relative;
        top: 1px;
    }
}