@use 'breakpoints';

.modal-ingredients__heading,
.modal-cocktail__heading,
.modal-all-cocktails__heading,
.modal-random__heading {
    padding-bottom: 60px;
    @include breakpoints.breakpoint(laptop){
        font-size: 28px;
    };
    @include breakpoints.breakpoint(tabletandmobile){
        font-size: 24px;
        padding-bottom: 40px;
    };
    @include breakpoints.breakpoint(smallermobile){
        font-size: 17px;
        padding-bottom: 35px;
    };
}

.modal-ingredients__input,
.modal-cocktail__input,
.modal-all-cocktails__input {
    width: 300px;
    height: 30px;
    background-color: transparent;
    outline: none;
    color: white;
}

.modal-ingredients__list,
.modal-cocktail__list,
.modal-all-cocktails__list {
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 100px);

}


.modal-ingredients__list-element {
    display: grid;
    grid-template-columns: repeat(5, 100px);
}


.modal-random__description{
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 0.5fr 1fr; 
    gap: 30px 30px; 
    grid-template-areas: 
      "ingredients recipe"
      "image image"; 
    overflow: hidden;

      .modal-random__ingredients{
        grid-area: ingredients;
        justify-self: center;
        display: grid;
        font-size: 26px;

        >li{
            justify-self: start;
            list-style-type: square;
            font-size: 20px;
            font-family: Arial;
            font-variant: none;
        }
      }

      .modal-random__recipe{
        grid-area: recipe;
        font-size: 26px;
        justify-self: center;
        display: grid;

        >p{
            font-size: 20px;
            font-family: Arial;
            font-variant: none;
            padding: 5px;
            justify-self: start;

        }

        +img{
            grid-area: image;
            height: 80%;
            width: 50%;
            justify-self: center;
            align-self: center;
        }
      }
  }

