@use 'breakpoints';
@use 'variables';

.modal-ingredients__heading,
.modal-cocktail__heading,
.modal-all-cocktails__heading,
.modal-random__heading {
    padding-bottom: 60px;

    @include breakpoints.breakpoint(laptop) {
        font-size: 28px;
    };
    
    @include breakpoints.breakpoint(tabletandmobile) {
        font-size: 24px;
        padding-bottom: 40px;
    };

    @include breakpoints.breakpoint(smallermobile) {
        font-size: 17px;
        padding-bottom: 35px;
    };
}

.modal-ingredients__wrap,
.modal-cocktail__wrap,
.modal-all-cocktails__wrap {
    display: grid;
    grid-template-columns: 1.9fr 0.1fr;
    grid-column-gap: 10px;
    width: 50%;
}

.modal-ingredients__input,
.modal-cocktail__input,
.modal-all-cocktails__input {
    height: 30px;
    background-color: transparent;
    color: white;
    outline: none;
}

.modal-ingredients__submit,
.modal-cocktail__submit,
.modal-all-cocktails__submit {
    width: 120%;
    height: 110%;
    align-self: center;
    font-weight: bold;
    background: linear-gradient(#FFFAF0 5%, #959187 100%);
    box-shadow: 12px 9px 20px -9px variables.$shadow-color;
    border-radius: 4px;
    cursor: pointer;
}

.modal-ingredients__list,
.modal-cocktail__list,
.modal-all-cocktails__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px 10px;
    padding-top: 30px;
    list-style-type: none;
}
