@use 'variables';

.modal-random__description {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "ingredients recipe"
        "list info"
        "image image";
    overflow: hidden;

    .modal-random__ingredients {
        grid-area: ingredients;
        font-size: 30px;
        padding-bottom: 30px;
        color: variables.$modalTxt-color;
    }

    .modal-random__list {
        grid-area: list;
        align-self: flex-start;
        justify-self: center;
        font-size: 20px;
        font-family: Arial;
        font-variant: none;
        text-align: left;
        list-style-type: square;
    }

    .modal-random__recipe {
        grid-area: recipe;
        font-size: 30px;
        color: variables.$modalTxt-color;
    }

    .modal-random__recipe-info {
        grid-area: info;
        justify-self: center;
        font-size: 20px;
        font-family: Arial;
        font-variant: none;

        &::first-letter {
            text-transform: uppercase;
        }

        +img {
            grid-area: image;
            height: 80%;
            width: 50%;
            justify-self: center;
            align-self: center;
        }
    }
}