@use 'variables';
@use 'mixin';
@use 'keyframes';
@use 'breakpoints';

.wrapper {
    display: grid;
    @include mixin.justify;
    grid-template-rows: 35px 60px 1fr;
    padding: 30px;
    text-align: center;
    background-image: linear-gradient(#8a8282, #C1C1C1);
    color: variables.$bgc-color;
    border: 1px solid variables.$shadow-color;
    border-radius: 15px;
    box-shadow: 15px 15px 19px 9px variables.$shadow-color;

    @include breakpoints.breakpoint(desktop) {
        width: 1110px;
        height: 730px;
        padding: 20px;
    };

    @include breakpoints.breakpoint(laptop) {
        width: 1010px;
        height: 700px;
        padding: 15px;
    };

    @include breakpoints.breakpoint(tablet) {
        width: 700px;
        height: 700px;
    };

    @include breakpoints.breakpoint(mobile) {
        width: 400px;
        height: 600px;
    };

     @include breakpoints.breakpoint(smallermobile) {
        width: 350px;
        height: 400px;
        padding: 10px;
        grid-template-rows: 15px 20px 1fr;
    };

    &__heading {
        font-size: 45px;
        letter-spacing: 4px;

        @include breakpoints.breakpoint(tabletandmobile) {
            font-size: 30px;
        };
        @include breakpoints.breakpoint(smallermobile) {
            font-size: 20px;
        };
    }

    &__paragraph {
        font-size: 20px;
        @include breakpoints.breakpoint(tabletandmobile) {
            font-size: 15px;
        };
        @include breakpoints.breakpoint(smallermobile) {
            font-size: 10px;
        };
    }

    .wrap {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 30px 0px;
        grid-template-areas:
            "a . c . e"
            ". b c d ."
            ". g c h ."
            "f . c . i";

        @include breakpoints.breakpoint(tabletandmobile) {
            font-size: 15px;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 0fr 0fr 0fr 0fr 0fr;
            gap: 15px 0px;
            grid-template-areas:
                "c"
                "i"
                "a"
                "f"
                "e";
        };

        .wrap__one {
            grid-area: a;
            align-self: end;
        }

        .wrap__two {
            grid-area: f;
        }

        .wrap__three {
            grid-area: e;
            align-self: end;
        }

        .wrap__four {
            grid-area: i;
        }

        .wrap__one,
        .wrap__two,
        .wrap__three,
        .wrap__four{
            @include breakpoints.breakpoint(tabletandmobile){
                justify-self: center;
            };
        }

        .wrap-images__arrow1 {
            grid-area: b;
        }

        .wrap-images__arrow2 {
            grid-area: g;
        }

        .wrap-images__arrow3 {
            grid-area: d;
        }

        .wrap-images__arrow4 {
            grid-area: h;
        }

        .wrap-images__arrow1,
        .wrap-images__arrow2,
        .wrap-images__arrow3,
        .wrap-images__arrow4{
            @include breakpoints.breakpoint(tabletandmobile) {
                display: none;
            };
        }

        .wrap-images__drink {
            grid-area: c;
            justify-self: center;
            align-self: center;
            height: 350px;
            width: 220px;
            @include breakpoints.breakpoint(tabletandmobile) {
                height: 230px;
                width: 170px;            
            };
            @include breakpoints.breakpoint(mobile) {
                height: 200px;
                width: 160px;           
            };
            @include breakpoints.breakpoint(smallermobile) {
                height: 140px;
                width: 130px;          
            };

            &--shake {
                animation: shake 0.5s;
                animation-iteration-count: initial;
            }
        }

    }
}

@include keyframes.shake-animation;