<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dupa</title>
    <link rel="stylesheet" href="../sass/style.css">
</head>

<body>
    <div class="wrapper">
        <h1>Coctail bar</h1>
        <p>Find recipe for your favourite drink</p>

        <div class="wrap">
            <button class="wrap__one"><a href="./ingredients.html">By ingredients</a></button>
            <button class="wrap__two"><a href="./ingredients.html">By name of coctail</a></button>
            <button class="wrap__three"><a href="./ingredients.html">List all of coctails</a></button>
            <button class="wrap__four"><a href="./ingredients.html">Shake drink for a random drink</a></button>
                <img src="../../public/images/arrow1.png" alt="" class="wrap-images__arrow1">
                <img src="../../public/images/arrow2.png" alt="" class="wrap-images__arrow2">
                <img src="../../public/images/drink6.png" alt="" class="wrap-images__drink">
                <img src="../../public/images/arrow3.png" alt="" class="wrap-images__arrow3">
                <img src="../../public/images/arrow4.png" alt="" class="wrap-images__arrow4">
        </div>
    </div>

    <div class="modal">
        <button class="modal__close">X</button>
        <h1>Margarita</h1>
        <p>Dupa1</p>
        <p>Dupa2</p>
    </div>

</body>

</html>