<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cocktail Bar</title>
    <script src="https://kit.fontawesome.com/291e79a91f.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="wrapper">
        <h1 class="wrapper__heading">Cocktail bar</h1>
        <p class="wrapper__paragraph">Find recipe for your favourite drink</p>

        <div class="wrap">
            <button class="wrap__one">By ingredients</button>
            <button class="wrap__two">By name of cocktail</button>
            <button class="wrap__three">List all of cocktails</button>
            <button class="wrap__four">Shake drink for a random drink</button>
            <img src="../../public/images/arrow1.png" alt="" class="wrap-images__arrow1">
            <img src="../../public/images/arrow2.png" alt="" class="wrap-images__arrow2">
            <img src="../../public/images/drink6.png" alt="" class="wrap-images__drink">
            <img src="../../public/images/arrow3.png" alt="" class="wrap-images__arrow3">
            <img src="../../public/images/arrow4.png" alt="" class="wrap-images__arrow4">
        </div>

        <div class="modal-ingredients">
            <button class="modal-ingredients__close"><i class="fas fa-times"></i></button>
            <h1 class="modal-ingredients__heading">Search cocktail by ingredients</h1>
            <input type="text" placeholder="Type a ingredient: vodka, gin etc." class="modal-ingredients__input">
            <ul class="modal-ingredients__list">
                <li class="modal-ingredients__list-element"></li>
            </ul>
        </div>

        <div class="modal-cocktail">
            <button class="modal-cocktail__close"><i class="fas fa-times"></i></button>
            <h1 class="modal-cocktail__heading">Search cocktail by name coctail</h1>
            <input type="text" placeholder="Type a margarita, black russian etc." class="modal-cocktail__input">
            <ul class="modal-cocktail__list">
                <li class="modal-cocktail__list-element"></li>
            </ul>
        </div>

        <div class="modal-all-cocktails">
            <button class="modal-all-cocktails__close"><i class="fas fa-times"></i></button>
            <h1 class="modal-all-cocktails__heading">Check out all the cocktails</h1>
            <input type="text" placeholder="Type a margarita, black russian etc." class="modal-all-cocktails__input">
            <ul class="modal-all-cocktails__list">
                <li class="modal-all-cocktails__list-element"></li>
            </ul>
        </div>

        <div class="modal-random">
            <button class="modal-random__close"><i class="fas fa-times"></i></button>
            <h1 class="modal-random__heading"></h1>
            <div class="modal-random__description">
                <h3 class="modal-random__ingredients">Ingredients: </h3>
                <h3 class="modal-random__recipe">Recipe: </h3>
            </div>
        </div>
    </div>

</body>

</html>